<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        body{
            background-color: rgb(54, 139, 29); 
        }
        img {
            width: 500px; 
            height: 300px ;
            border-radius:10px;
        }
        h1{
            color:white;
            text-align: center;
        }
        .row{
            background-color: whitesmoke;
            width: 500px;
            border-radius: 10px;
        }
        .user{
            margin: 0.5em 3px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .card {
            margin: 0px auto;
            width: 500px;
            background: black;
            position:relative;
            padding:10px;
            border-radius: 10px;
        }
        .card-img {
            margin:auto;
            position:relative;
            width:500px;
        }
        .title {
            width: 25%; 
            padding: 0.25em;
            top: 8px;
            left: 16px;
            font-size: 15px;
            background-color: white;
        }
        .card-cont {
            margin:auto;
            width:500px;
            word-break: break-all;
        }
        #card-cont {
            color:white;
        }
    </style>
</head>
<body>
    <h1 id="heading">Profile <%= user.username %> </h1>
    <div class="row">
        <p class="user" id="username">Username: <%= user.username %> </p>
        <p class="user" id="email">Email: <%= user.email %> </p>
        <p class="user" id="bio">Bio: <%= user.bio %> </p>
    </div>

    <%for(let data of allPosts) { %>
        <div class="card">
            <div class="card-img">
                <div class="title"><%=data.title%></div>
                <a href="<%-data.url%>">
                    <img src='/<%=data.filename%>' alt=<%=data.originalname%>>
                </a>
            </div>
            <div class="card-cont">
                <p id="card-cont"><%=data.description%></p>
            </div>
        </div>
        <br><br>
    <% } %>

</body>
</html>